@media (max-width: 600px) {
    .background-one {
        background-image: url(../assets/Home.svg);
        width: 100vw; 
        height: 100vh; 
        background-size: cover;
        
    }
  }


.background-one {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sign-container {
    width: 300px;
    height: 480px;
    background-image: url(../assets/sign_background.svg);
    background-size: cover;
    border-radius: 15px;
    display:flex; 
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-container {
    gap: 5px; 
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    gap: 5px;
}

.mail-phone-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mail-phone-container {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.sign-title, .log-title {
    font-weight: 400;
    font-size: 1.25rem;
    text-decoration: underline;
}

.sign-label, .login-label {
    font-size: 0.92rem;
}

.sign-input, 
.phone-input, 
.mail-input, 
.sign-button, 
.login-input,
.name-input, 
.login-button {
    background-color: #375A54D9;
    border: 1px solid #375A54;
    height: 40px;
    width: 260px;
    border-radius: 9px;
    font-size: 0.9rem;
    padding-left: 10px;
}

input:focus {
    outline: none; 
    border: 3.5px solid #375A54 ;
         
}

.phone-input, 
.mail-input {
    width: 122px;
}

.sign-button, 
.login-button {
    background-color: #A2D6BB;
    border: 1.4px solid black; 
    width: 150px;
    padding:0;
}

.link {
    color:#AA7859;
    font-weight:600;
}

.login-text, 
.sign-text {
    font-size: 0.9rem;
}

.name-input {
    background-color:#375a54B0 ;
    color: black;
}

.name-input::placeholder {
    color: #00000067
}




