@media (max-width: 600px) {
    .background-one {
        background-image: url(../assets/Home.svg);
        width: 100vw; 
        height: 100vh; 
        background-size: cover;
        
    }
  }


.background-one {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sign-container {
    width: 230px;
    height: 370px;
    background-image: url(../assets/sign_background.svg);
    background-size: cover;
    border-radius: 10px;
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}



.sign-title {
    font-weight: 100;
}

 
